.top {
  width: 100%;
  height: 30%;
  border-bottom: 1px black solid;
  text-align: bottom;
}

.top_box {
	display:inline-block;
	margin:auto;
}


#info{
	display:inline;
}

.bottom {
	margin-left: 2%;
}

.options {
	margin-left: 5%;
}

.inline-group{
	display:inline-block;
	margin:1%;
}

.dc_check_image  {
  display: none;
}

.button-press {
	background-color: lightgreen;
}

.checkmark {
	width:20px;
	height:20px;
}
/*
.top.patient-info{
	display: block;
}*/